In [1]:
print("Testing")

Testing

In [6]:
import mysqlite
import sqlite3 as MYSQL

# Connection to Database
conn = MYSQL.connect("analysis.db")

# Create your Cursor
my_cursor = conn.cursor()

### SQL Commands or Code

In [ ]:
# creating of tables
table = '''CREATE TABLE IF NOT EXISTS users(
    user_id INTEGER PRIMARY KEY AUTOINCREMENT,
    username VARCHAR(255) NOT NULL,
    email VARCHAR(255) NOT NULL UNIQUE,
    password VARCHAR(255) NOT NULL
)'''

my_cursor.execute(table)

In [7]:
# SQL - Structured Query Language

my_cursor.execute('''CREATE TABLE IF NOT EXISTS users(
    user_id INTEGER PRIMARY KEY AUTOINCREMENT,
    username VARCHAR(255) NOT NULL,
    email VARCHAR(255) NOT NULL UNIQUE,
    password VARCHAR(255) NOT NULL
)''')

In [ ]:
my_cursor.execute('''SHOW TABLES''')
conn.commit()
conn.close()

In [ ]:
my_cursor.execute('''
    INSERT INTO users(user_id, username, email, password) VALUES (?, ?, ?, ?)
''', (None, "John", "john@gmail.com", "123456"))